@charset "UTF-8";

html,body{
  height: 100%;
  place-items: center;
  text-align: center;
  background: linear-gradient(72deg, #5b4009  1%, #fd7e14 99%);
}
.Login-Form {
    min-height: 900px;
    background-image: url('/frontEnd/img/login.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.Login-Form {
display: flex;
align-items: center;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
text-align: center;
}

.main-div {
    background: #fff;
    border-radius: 5px;
    margin: 20px auto;
    width: 50%;
    height: 350px;
    padding: 50px 70px;
    padding-top: 50px;
    padding-bottom: 0;
}

.form-control {
    background: #f7f7f7;
    border-radius: 7px;
    font-size: 15px;
    height: 50px;
    line-height: 50px;
    border: 2px solid #d4d4d4;
}
.form-group {
    margin: 10px;
}

.btn.btn-primary {
    background: #512da2;
    border-color: #d4d4d4;
    font-size: 1.1em;
    padding: 0;
    height: 50px;
    width: 100%;
    margin: 10px;
}

.btn.btn-info {
    background: #7e57c2;
    border-color: #d4d4d4;
    font-size: 1em;
    padding: 0;
    height: 40px;
    width: 50%;
}

.btn.btn-primary:hover {
    background-color: #4c7af7;
}

.btn.btn-info:hover {
    background-color: #5a4880;
}
