*{
box-sizing: border-box;
}
body{
margin: 0;
height:100vh;
background: linear-gradient( #054187 1%, #0e1a33 99%);
align-items: left;
junstify-content:left;
}

.content{
    height: 500px;
    width: 900px;
    border-radius: 18px;
    overflow: hidden;
    position: absolute;
    top: 25%;
    left:2%;
    align-items: left;
    justify-content:left;
}


.rodape{
margin-top:22%;
}

input{
display:none;
}


.col-4{
display: flex;
margin-left:65%;
top:30%;
font-size: 2em;
font-family:Jazz LET fantasy;
font-weight: bold;
font-style: italic;
color: #ffffff
}
.slides{
display:flex;
transition:transform 0.5s ease-in-out;
transform:translateX(0);
width:900px;
height:500px
}

.slide img {
    width:900px;
    height:500px;
    object-fit: cover;
}

.container span{
text-align: center;
animation: brilho 4s ease-in-out infinite;
}
.container span:nth-of-type(2){
animation-delay: 0.25s;
}
.container span:nth-of-type(3){
animation-delay: 0.50s;
}
.container span:nth-of-type(4){
animation-delay: 0.75s;
}
.container span:nth-of-type(5){
animation-delay: 1s;
}
.container span:nth-of-type(6){
animation-delay: 1.25s;
}
.container span:nth-of-type(7){
animation-delay: 1.50s;
}
.container span:nth-of-type(8){
animation-delay: 1.75s;
}

:root{
--colorPurple:#9800ce;
}

@keyframes brilho{
0%{
color: #fff;
text-shadow: 0 0 12px var(--colorPurple),
0 0 50px var(--colorPurple),
0 0 100px var(--colorPurple);
}
10%, 90%{
color: #06060600;
text-shadow:none;
}
}

