/* Css stylesheet */

@charset "UTF-8";

body{

background: #fff;

}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'UBUNTU', sans-serif;
}

input {
	width: 300px;
}


nav {
	height: 100px;
	color: #ffffff;
}

a{
	cursor: pointer;
	font-weight: semi-bold;
	color: inherit;
	cursor: pointer;
}

#hoverBtn:hover {
	color: #dbc9ec;
}

label{
	color: black;

}
#btnTable {
	width: 80px;
	height: 38px;
	font-size: 13px;
	margin-left: 10px;

}

.btnFiltro:hover{
	background-color: #c191f1;
}

#cursorImg {
	cursor: pointer;
}
#filtroFont {
	font-size: 25px;
}

.btnFiltro {
	color: #fff;
	background-color: #a55eea;
	border: none;
	border-radius: 5px;
	padding-right: 2px;
	padding-inline-start: 5px;
	padding-inline-end: 5px;
	cursor: pointer;
}

#colorButton {
	color: #ffffff;
}
table{
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

nav {
	box-shadow: 0 15px 30px rgba(7, 22, 231, 0.4);
}

input{
	box-shadow: 0 15px 30px rgba(150, 156, 214, 0.4);
}



.neo-section {
	min-height: 700px;
	background-size: cover !important;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	padding: 30px;
	position: relative;
}
.wm a {
	text-decoration: none;
	padding: 20px 30px;
}


.wm {
	width: 50%;
	float: left;
}

.neo-container {
	max-width: 1280px;
	padding: 2% 2%;
	margin: 0 auto;
	margin-top: 200px;
}
.contain{
            overflow: hidden;
            top: 60%;
            right:5%;
            align-items: left;
            justify-content:left;
            margin:10px;
            margin-right: 40%;
}
.mapa{
            display: flex;
            margin-left:61%;
            position: absolute;
            top:98%;
}

.clear {
            clear: both;
}

.center {
            text-align: center;
}

.sombra {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            background: rgba(0, 0, 0, 0.7);
            z-index: 100;
}

.neo-section > .neo-container {
            position: relative;
            z-index: 105;
}

.texto-centro {
            color: #fff;
            font-size: 3em;
            font-family: 'Ubuntu';
            font-weight: bold;
}

.btnS {
            width: 280px;
            color: #fff;
            border-radius: 10px;
            border: 3px solid #a55eea;
            padding: 20px;
            font-weight: bold;
            cursor: pointer;
}

.botoes {
            padding: 2% 15%;
}

.btnS:hover {
            color: #CE93D8;
            background-color: rgba(0, 0, 0, 0.6);
}

.btn-danger {
            border-radius: 5px;
}


.rodape {
            color: #fff;
            background-color: #18255c;
            text-align: center;
            font-size: 1.25em;
            padding: 15px;
}

/* Responsividade */

@media screen and (max-width: 667px) {

            .wm {width: 100%;}
            nav {height: 100%; width: 100%;
            }
            .neo-container{margin-top: 120px;
            }

}


/* Footer */

#footer {
            background: #0b2e59;
            color: white;
            padding: 25px 0;
}

#footer .footer-content {
            display: flex;
            width: 60%;
            margin: auto;
            justify-content: space-between;
}

#footer .footer-content .footer-menu {
            margin: 0 40px;
            list-style: none;
}
#footer .footer-content .footer-menu .footer-menu-item {
            margin: 25px 0;
            transition: all 300ms ease;
}
#footer .footer-content .footer-menu .footer-menu-item:hover{
            color: #1DB954;
            cursor: pointer;
}


#footer .footer-content .footer-menu p {
            font-weight: bold;
            text-transform: uppercase;
            color: #919496;
            font-size: 0.8rem;
}

    /* Footer Socials*/
.socials{
            display: flex;
        }

.socials i{
            margin: 0 20px;
            font-size: 1.7rem;
            transition: all 800ms ease;
    }

.socials i:hover{
            color: #1DB954;
            cursor: pointer;
    }

    /* Footer info*/

.footer-info {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: 60%;
            margin: auto;
            font-weight: bold;
            color: #919496;
            font-size: 0.75rem;
            padding-top: 10px;
    }

.footer-info .footer-info-items {
            display: flex;
            list-style: none;
    }

.footer-info .footer-info-items .footer-info-item {
            margin: 0 10px;
            transition: all 300ms ease;
    }
.footer-info .footer-info-items .footer-info-item:hover{
            color: #1DB954;
            cursor: pointer;
    }

.footer-info .rights .country {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-bottom: 10px;
    }

.footer-info .rights .country p {
            transition: all 300ms ease;
    }

.footer-info .rights .country p:hover{
            color: #1DB954;
            cursor: pointer;
    }

.footer-info .rights .country .brazil-flag{
            height: 20px;
            width: auto;
            display: inline-block;
            margin-left: 10px;
    }

